<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zeng.dao.mapper.RoleDetailMapper">

    <sql id="roleDetailBaseColumnSql">
        role_detail_id,
        role_id,
        module_id
    </sql>

    <sql id="roleDetailBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.roleDetailId)">
                    role_detail_id = #{map.roleDetailId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.roleId)">
                    AND role_id = #{map.roleId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.moduleId)">
                    AND module_id = #{map.moduleId}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertRoleDetail" parameterType="com.zeng.dao.entity.RoleDetail">
        INSERT INTO role_detail(
        <include refid="roleDetailBaseColumnSql"/>
        )VALUES(
            #{roleDetailId},
            #{roleId},
            #{moduleId}
        )
    </insert>

    
    <delete id="deleteRoleDetailByRoleDetailId" parameterType="Integer">
        DELETE FROM role_detail WHERE role_detail_id = #{roleDetailId}
    </delete>

    <update id="updateRoleDetail" parameterType="com.zeng.dao.entity.RoleDetail">
        UPDATE role_detail
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(roleDetailId)">
                role_detail_id = #{roleDetailId} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(moduleId)">
                module_id = #{moduleId} ,
            </if>
        </set>
        WHERE role_id = #{${table.pkColumn.variableName}}
    </update>

    <select id="searchRoleDetailByParams" parameterType="map" resultMap="roleDetailMap">
        SELECT
        <include refid="roleDetailBaseColumnSql"/>
        FROM role_detail
        <include refid="roleDetailBaseWhereSql"/>
    </select>

    <resultMap type="com.zeng.dao.entity.RoleDetail" id="roleDetailMap">
        <id column="role_id" property="roleId"/>
        <result column="role_detail_id" property="roleDetailId"/>
        <result column="module_id" property="moduleId"/>
    </resultMap>

</mapper>
